#queue{
     border: 1px dashed gray;
    display: block;
   /*overflow-y: scroll;*/
    overflow:hidden;
    position: absolute;
    z-index: 0;
     /*background-color: coral;*/
}

#queuetitle{
    z-index: 50;
    position: fixed;
    height: 4vh;
    background-color: white;
    /*opacity: 1;*/
}

#queuelist{
    padding-top: 6vh;
    /*margin-bottom: -6vh;*/
}


#queuelist>div{
    background-color: white;
    margin: 5px;
}
#queuelist>div:hover{background-color:azure;}

#queuelist>div>span:first-child{
    display: inline-block;
    border-radius: 100px;
    margin:3px;
    margin-left: 6px;
    padding: 0.3px;
    width: 1.5em;
    height: 1.5em;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    background-color: gray;
    color: white;
}

#queuetitle{margin: 5px;}