@media (max-width:500px){

    #list {
        height: 33.333%;
        top:0;
        left: 0;
        width: 100%;
        border-top: 0;
    }
    #queue{
        height: 33.333%;
        top:33.333%;
        left: 0;
        width: 100%;
        border-top: 0;
    }
    #가사{
        height: 33.334%;
        top:66.666%;
        left: 0;
        width: 100%;
        border-top: 0;
    }

}
@media (min-width: 500px) and (max-width:875px){

    #list {
        height: 50%;
        top:0;
        left: 50%;
        width: 50%;
        border-top: 0;
    }
    #queue{
        height: 100%;
        top: 0;
        left: 0;
        width: 50%;
        border-right: 0;
        border-top: 0;
    }
    #가사{
        height: 50%;
        top:50%;
        left: 50%;
        width: 50%;
        border-top: 0;
    }

}

@media (min-width:875px){

    #list {
        height: 100%;
        top: 0;
        left: 66.666%;
        width: 33.334%;
        border-top: 0;
    }
    #queue{
        height: 100%;
        top:0;
        left: 0;
        width: 33.333%;
        border-right: 0;
        border-top: 0;

    }
    #가사{
        height: 100%;
        top:0;
        left: 33.333%;
        width: 33.333%;
        border-right:0;
        border-top: 0;
    }
}