#볼륨감싸기{
    /*opacity: .8;*/
    /*background-color: beige;*/
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 5vh;
    left: 48vh;
    top:7vh;
    z-index: 50;
    background-image: url("png/투명.png")
}
#볼륨{

    position: absolute;
    display: inline-block;
    width: 80px;
    height: 0.8vh;
    margin: 0;
    padding: 0;
    background-color: gray;
    height: 1vh;
    top: -1vh;
    margin: 10vh;
    left: 38vh;
}
#볼륨안{
    display: inline-block;
    position: absolute;
    top:-0.1vh;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1.0vh;
    background-color: black;
}
#볼륨버튼{
    display: inline-block;
    position: absolute;
    right: -0.6vh;
    top: -0.9vh;
    width: 1.3vh;
    height: 3vh;
    background-color: black;
}